@model HogWarsh1.Controllers.StudentController.StudentEnrollViewModel
@{
    ViewBag.Title = "Enroll";
}

<p>To Enroll your student, we need some information:</p>

@using (Html.BeginForm("enroll", "student"))
{
    <h2>This bit is hand-written: </h2>
        <dl>
            <dt>@Html.LabelFor(x => x.Student.Name)</dt>
            <dd>@Html.EditorFor(x => x.Student.Name)</dd>

            <dt>@Html.LabelFor(x => x.Student.Species)</dt>
            <dd>@Html.EditorFor(x => x.Student.Species)</dd>

            <dt>
                @Html.DropDownListFor(
                    x => x.Student.House,
                    Model.Houses.Select(x =>
                        new SelectListItem()
                        {
                            Text = x.Name,
                            Value = x.Name
                        }
                    )
                )
            </dt>
        </dl>
        <input type="submit" value="Enroll!" />
}