@model HogWarsh1.Controllers.HomeController.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome To HogWarsh!</h1>
    <p class="lead">HogWarsh is a school for gifted pets!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            @Html.ActionLink("ENROLL your student today!", "enroll", "student", new { }, new { @class = "btn btn-info" })
        </p>
    </div>
</div>
<div class="row">
    <h2>Our Houses</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>House</th>
                <th>Description</th>
                <th>Students</th>
            </tr>
        </thead>
        <tbody></tbody>

        @foreach (var house in Model.HousesWithCounts)
        {
            <tr>
                <td>@house.House.Name</td>
                <td>@house.House.Description</td>
                <td>@house.NumberOfStudents</td>
            </tr>
        }
    </table>

    <p>Some students have not yet chosen a house:  </p>
    <p class="lead">@Model.StudentsWithoutHouses</p>
    @if (Model.StudentsWithoutHouses > 2)
    {
        <p>We gave enough students to have a sorting!</p>
        <p class="text-center">
            @Html.ActionLink("ENGAGE the Shorting Leash!", "sort", "student", new { }, new { @class = "btn btn-info" })
        </p>
    }
</div>